:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #ff4800;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #ddd;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --black: black;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: var(--light);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{color: black; text-decoration: none;}
/*start continer*/
.container{
	padding-left:15px;
	padding-right:15px;
	margin-left:auto;
	margin-right:auto;
}
@media (min-width:768px){
	.container{
		width:750px;
	}
}
@media (min-width:992px){
	.container{
		width:970px;
	}
}	
@media (min-width:1200px){
	.container{
		width:1170px;
	}
}
/* start header-1 */
.header-1{
    height: 50px;
    /* margin-top: -16px; */
    width: 100%;
    background-color: var(--orange);
}
.header-1 ul{
    list-style: none;
    line-height: 45px;
}
.header-1 ul li{
    display: inline;
    color: var(--white);
    margin: 0 10px;
}
.header-1 ul  button {
    background-color: transparent;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    color: var(--white);
    font-size: 1em;
    float: right;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.header-1 ul  button:hover{
    background-color: var(--dark);
}
.header-1 ul li a{
    color: var(--white);
    font-size: 0.8em;
    text-transform: uppercase;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.header-1 ul li a:hover{
    color: var(--gray);
}
@media (max-width: 1000px){
    .header-1 ul li{
        display: none;
    }
}
/* start header-2  */
.header-2{
    height: 60px;
    background-color: var(--white);
    /* position: fixed; */
    width: 100%;
    /* animation: header ; */
}
.header-2 .container{
    display: flex;
	justify-content:space-between;
	align-items:center;
}
.header-2 .links{
    position: relative;
}
.header-2 .links ul{
    list-style:none;
    line-height: 60px;
}
.header-2 .links ul li{
    display: inline;
}
.header-2 .links ul li a{
    margin: 0 10px;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.header-2 .links ul .active a{
    color: var(--orange);
}
.header-2 .links ul li a:hover{
    color: var(--orange);
}
@media (max-width: 1000px){
    .header-2 .logo{
        margin-top: 15px;
    }
    .header-2 .links{
        position: relative;
        cursor: pointer;
    }
    .header-2 .links .icon{
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: 20px;
    }
    .header-2 .links .icon span{
        background-color: var(--orange);
        margin-bottom: 5px;
        height: 2px;
    }
    .header-2 .links .icon span{
        width:100%;
    }
    .header-2 .links .icon span:nth-child(2){
        width:60%;
        transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
    .header-2 .links ul{
        margin: 0;
        padding: 0;
        background-color: var(--white);
        position: absolute;
        right: 0;
        min-width: 160px;
        top: calc(100% + 15px);
        display: none;
        z-index: 999;
    }
    .header-2 .links:hover ul{
        display: block;
    }
    .header-2 .links ul::before{
        content: '';
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent var(--dark) transparent;
        position: absolute;
        right: 5px;
        top: -20px;
    }
    .header-2 .links ul li a{
        padding: 15px;
        display: block;
        color: var(--dark);
        transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
    .header-2 .links ul li a:hover{
        padding-left: 25px;
    }
    .header-2 .links ul li:not(:last-child) a {
        border-bottom: 1px solid var(--orange);
    }
}
/* start slider  */

.slider{
    background-image: url('../img/hero-content/xhero-1.webp');
    height: 88vh;
    position: relative;
    z-index: 99;
}
.slider::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(22,22,22,.92);
    z-index: -1;
    color: var(--white);
}
.slider .feat{
    width: 90%;
    margin: 0 auto;
    max-width: 1366px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: 80vh;
    color: var(--white);
}
.slider .feat h2{
    font-size: 4em;
    margin: 0;
    border-bottom: 3px solid var(--orange);
}
.slider .feat h3{
    font-size: 2em;
    margin: 10px 0;
}
.slider .feat p{
    width: 50%;
    font-size: 1.1em;
    line-height: 2;
    letter-spacing: 2px;
}
.slider .feat .div-button a{
    padding: 18px 40px;
    background-color: var(--orange);
    border: 3px solid var(--orange);
    font-size: 1em;
    color: var(--white);
    margin: 10px 5px;
    display: inline-block;
    border-radius: 24px;
    -o-border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    outline: none;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.slider .feat .div-button a:nth-child(1):hover{
    background-color: transparent;
}
.slider .feat .div-button a:nth-child(2){
    background-color: transparent;
}
.slider .feat .div-button a:nth-child(2):hover{
    background-color: var(--orange);
}
@media (max-width: 1000px){
    .slider .feat{
        height: 90vh;
    }
    .slider .feat h2{
        font-size: 3.5em;
    }
    .slider .feat h3{
        font-size: 1.5em;
    }
    .slider .feat p{
        font-size: 1em;
        line-height: 1.5;
        letter-spacing: 1px;
        width: 100%;
    }
}

/* start services */
.services{
    margin: 40px 0;
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    text-align: center;
}
.services .feat{
    width: 80%;
    margin: 10px auto;
    background-color: #ecf2f5;
    padding: 20px;
    border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.services .feat:nth-child(1){
    background-color: var(--orange);
    color: var(--white)
}
.services .feat:nth-child(1) i{
    color: var(--white);
}
.services .feat:nth-child(1) p{
    color: var(--white);
}
.services .feat i{
    color: var(--secondary)
}
.services .feat:hover{
    background-color: var(--orange);
    color: var(--white);
}
.services .feat:hover i{
    color: var(--white);
}
.services .feat:hover p{
    color: var(--white);
}
.services .feat h2{
    font-size: 1.3em;
    margin: 20px 0;
    font-weight: bold;
    letter-spacing: 1px;
}
.services .feat p{
    line-height: 2;
    font-size: 1em;
    color: var(--secondary)
}
/* start home-page-welcome */
.home-page-welcome{
    background-color: #eee;
    padding: 96px 0;
    position: relative;
    z-index: 99;
}
.home-page-welcome .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.home-page-welcome .feat{
    width: 80%;
    margin: 0 ;
    color: var(--white);
}
.home-page-welcome .feat img{
    width: 100%;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.home-page-welcome .feat h2{
    font-size: 2.2em;
    color: var(--black);
    border-bottom: 3px solid var(--orange);
    padding: 10px 0;
    margin: 20px 0;
    max-width: 440px;
}
.home-page-welcome .feat p{
    width: 100%;
    color: var(--secondary);
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 1em;
    margin: 20px 0;
}
.home-page-welcome .feat a{
    background-color: var(--orange);
    padding: 18px 40px;
    display: inline-block;
    color: var(--white);
    border-radius: 24px;
    -o-border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.home-page-welcome .feat a:hover{
    background-color: var(--danger);
}
@media (max-width: 1000px){
    .home-page-welcome{
        display: none;
    }
    .home-page-welcome .feat{
        width: 80%;
        margin: 0 auto;
    }
}
/* start our-causes */
.our-causes{
    background-color: var(--light);
    z-index: 99;
    padding: 66px 0;
}
.our-causes h2{
    font-size: 3em;
    margin: 40px 0;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 400;
}
.our-causes .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.our-causes .feat{
    width: 90%;
    margin: 20px auto;
    box-shadow: 0 5px 25px rgb(1 1 1);
}
.our-causes .feat img{
    width: 100%;
    margin:0;
}
.our-causes .feat .div-text{
    background-color: var(--white);
    margin-top:-21px;
    padding: 45px 25px;
}
.our-causes .feat .div-text h3{
    font-size: 1.1em;
    font-weight: 400;
    margin: 20px 0;
    color: black;
}
.our-causes .feat .div-text h3 a:hover{
    text-decoration: underline;
}
.our-causes .feat .div-text p{
    font-size: 0.8em;
    line-height: 1.5;
    letter-spacing: 1px;
}
.our-causes .feat .div-text .button{
    background-color: var(--orange);
    color: var(--white);
    font-weight: 600;
    padding: 17px 30px;
    margin: 20px 0 0 0;
    display: inline-block;
    border-radius: 24px;
    -o-border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.our-causes .feat .div-text .button:hover{
    background-color: var(--danger);
}
@media (max-width: 1000px){
    .our-causes h2{
        font-size: 2.5em;
    }
}
/* start footer  */
.footer{
    background-image: url('../img/footer/xfoot-1.webp');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 96px 0 0 0;
    z-index: 99;
    color: var(--white);
}
.footer::after{
    content: '';
    background: rgba(22,22,22,.92);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.footer .feat{
    width: 90%;
    margin: 0 20px;
}
.footer .feat ul{
    list-style: none;
}
.footer img{
    margin: 10px 0;
}
.footer ul li p{
    width: 100%;
    line-height: 2;
    font-size: 0.9em;
    margin: 20px 0;
    letter-spacing: 1px;
    color: var(--secondary);
}
.footer ul li h3{
    font-weight: 500;
    font-size: 1.5em;
    margin: 10px 0 25px 0;
}
.footer ul li a{
    color: var(--white);
    margin: 5px 0;
    display: inline-block;
    color: var(--secondary);
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.footer ul li a:hover{
    color: var(--orange);
}
.footer ul li span{
    color: var(--orange);
    font-size: 0.8em;
}
.footer ul li i{
    color: var(--orange);
}
.footer ul li a i{
    color: var(--secondary);
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.footer .feat:nth-child(1) ul li{
    display: inline;
    margin: 0 5px;
}
.footer ul li a i:hover{
    color: var(--orange);
}
.footer form{
    width: 100%;
    margin: 30px 0;
}
.footer form div:nth-child(1) input{
    width: 78%;
    padding: 12px 15px;
    font-size: 0.9em;
    float: left;
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}
.footer form div:nth-child(2) input{
    float: right;
    text-align: center;
    width: 20%;
    padding: 12.5px 0;
    margin-top: -1px;
    color: var(--white);
    background-color: var(--orange);
    outline: none;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
    border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.footer form div:nth-child(2) input:hover{
    background-color: var(--danger);
}
.footer .div-footer{
    background-color: #131212;
    color: var(--secondary);
    font-size: 0.9em;
    margin: 40px 0 0 0;
    padding: 20px 20px;
    text-align: center;
}
.footer .div-footer p{
    line-height: 2;
}
.footer .div-footer p a{
    color: var(--secondary);
    text-decoration: underline;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.footer .div-footer p a:hover{
    color: var(--orange);
}
@media (max-width: 1000px){
    .footer .feat ul li p{
        width: 80%;
    }
    .footer form div:nth-child(1) input{
        width: 70%;
    }
    .footer form div:nth-child(2) input{
        width: 20%;
        float: none;
        margin: 0;
    }
}
/* start top scroll  */
.scroll-top{
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 999;
    color: var(--white);
    background-color: var(--orange);
    font-size: 1em;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.scroll-top:hover{
    background-color: var(--danger);
}
/* start page about  */
.about-stats{
    background-color: #333;
    padding: 96px 0;
}
.about-stats .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.about-stats .feat{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.about-stats .feat canvas{
    width: 156px;
    height: 156px;
    border-radius: 50%;
    border: 3px solid #444;
}
.about-stats .feat:nth-child(1) canvas{
    border-bottom: 3px solid var(--orange);
}
.about-stats .feat:nth-child(2) canvas{
    border-bottom: 3px solid var(--orange);
    border-left: 3px solid var(--orange);
    border-right: 3px solid var(--orange);
}
.about-stats .feat:nth-child(3) canvas{
    border: 3px solid var(--orange);
}
.about-stats .feat:nth-child(4) canvas{
    border-bottom: 3px solid var(--orange);
    border-left: 3px solid var(--orange);
}
.about-stats .feat strong{
    font-size: 1.5em;
    color: var(--white);
    position: absolute;
    margin-top: 70px;
    margin-left: -105px;
}
.about-stats .feat h3{
    margin: 20px 0;
    color: var(--white);
}
/* start help-us */
.help-us{
    padding: 96px 0;
    text-align: center;
}
.help-us .feat h3{
    color: var(--dark);
    font-size: 2em;
}
.help-us .feat a{
    background-color: var(--orange);
    padding: 18px 40px;
    color: var(--white);
    font-size: 1.1em;
    margin: 20px 0;
    display: inline-block;
    border-radius: 24px;
    -o-border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.help-us .feat a:hover{
    background-color: var(--danger);
}
/* start page Commission */
.commission{
    background-color: var(--light);
}
.commission .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.commission .feat{
    width: 90%;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 5px 25px rgb(1 1 1);
    border-radius: 5px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.commission .feat:hover{
    transform: scale(1.02);
}
.commission .feat .div-img{
    position: relative;
    z-index: 9;
    border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
.commission .feat:hover .div-img::after{
    content: '';
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 98%;
    z-index: 1;
}
.commission .feat .div-img img{
    width: 100%;
    border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
.commission .feat .div-text{
    padding: 30px 0;
}
.commission .feat .div-text ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: -80px 0 0 -30px;
    z-index: 99;
    position: absolute;
    display: none;
}
.commission .feat:hover ul{
    display: flex;
}
.commission .feat .div-text ul a{
    margin: 30px;
    color: #ddd;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.commission .feat .div-text ul a:hover{
    color: var(--orange);
}
.commission .feat:hover ul a{
    font-size: 1.2em;
}
.commission .feat .div-text h3{
    font-size: 1.2em;
    margin: -20px 0 0 0;
    font-weight: 600;
    letter-spacing: 2px;
}
.commission .feat .div-text span{
    font-size: 0.7em;
    font-weight: 400;
    display: inline-block;
    margin: -50px 0 20px 0;
    letter-spacing: 2px;
    color: var(--orange);
}
.commission .feat .div-text p{
    font-size: 1em;
    width: 80%;
    margin: 0 auto;
}
/* start page gallery */
.gallery .feat:hover .div-img::after{
    content: '';
    height: 97%;
}
.gallery .feat .div-text h3{
    letter-spacing: 0.3px;
    font-size: 1em;
    width: 90%;
    margin: 0 auto;
}
.gallery .feat .div-text p{
    font-size: 0.9em;
    margin: 10px auto;
    line-height: 2;
}
.gallery .feat .div-text a{
    background-color: var(--orange);
    padding: 16px 40px;
    margin: 20px 0 0 0;
    color: var(--white);
    display: inline-block;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.gallery .feat .div-text a:hover{
    background-color: var(--danger);
}
/* start page new  */
.content-page-new{
    background-color: var(--light);
    padding: 96px 0;
}
.content-page-new .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.content-page-new .feat{
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.content-page-new .feat{
    margin: 20px 0;
}
.content-page-new .feat:nth-child(1) .asid{
    display: flex;
    justify-content: center;
    background-color: var(--gray);
    padding: 40px 20px;
    width: 60%;
    margin: 0 auto;
}
.content-page-new .feat:nth-child(1) .asid input:nth-child(1){
    padding: 8px 30px;
    font-size: 1.01em;
    outline: none;
    border: none;
    border-radius:  5px 0 0 5px ;
    -o-border-radius:  5px 0 0 5px ;
    -moz-border-radius:  5px 0 0 5px ;
    -webkit-border-radius:  5px 0 0 5px ;
}
.content-page-new .feat:nth-child(1) .asid input:nth-child(2){
    padding: 8px 20px;
    font-size: 1em;
    margin: 0 1px;
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
    border: none;
    border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.content-page-new .feat:nth-child(1) .asid input:nth-child(2):hover{
    background-color: var(--danger);
}
.content-page-new .feat:nth-child(2) .post{
    width: 100%;
    background-color: var(--gray);
    margin-bottom: 20px;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.content-page-new .feat:nth-child(2) .post img{
    width: 100%;
    border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
.content-page-new .feat:nth-child(2) .post .div-text{
    padding: 20px;
}
.content-page-new .feat:nth-child(2) .post .div-text footer span{
    font-size: 0.9em;
    letter-spacing: 1px;
    color: var(--orange);
}
.content-page-new .feat:nth-child(2) .post .div-text h2 a{
    font-size: 1em;
    font-weight: 500;
}
.content-page-new .feat:nth-child(2) .post .div-text h2 a:hover{
    text-decoration: underline;
}
.content-page-new .feat:nth-child(2) .post .div-text figure span a{
    font-size: 0.8em;
    color: var(--secondary);
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.content-page-new .feat:nth-child(2) .post .div-text figure span a:hover{
    text-decoration: underline;
    color: var(--black);
}
.content-page-new .feat:nth-child(2) .post .div-text figure span span{
    display: inline-block;
    color: #333;
    background-color: #333;
    height: 10px;
    width: 2px;
    margin: 0 5px;
}
.content-page-new .feat:nth-child(2) .post .div-text p{
    font-size: 0.9em;
    color: var(--dark);
}
.content-page-new .feat:nth-child(2) .post .div-text p+a{
    background-color: var(--orange);
    display: inline-block;
    color: var(--white);
    font-size: 1em;
    padding: 10px 30px;
    margin: 20px 0;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.content-page-new .feat:nth-child(2) .post .div-text p+a:hover{
    background-color: var(--danger);
}
@media (max-width: 1000px){
    .content-page-new .feat:nth-child(1) .asid{
        background-color: var(--gray);
        width: 80%;
        display: none;
    }
    .content-page-new .feat:nth-child(2){
        width: 58%;
    }
}
/* start contact  */
.contact{
    padding: 96px 0;
}
.contact .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.contact .feat:nth-child(1){
    background-color: var(--light);
    box-shadow: 0 5px 25px rgb(1 1 1);
    padding: 20px;
    width: 80%;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.contact .feat:nth-child(1) h2{
    font-size: 1.5em;
    letter-spacing: 2px;
}
.contact .feat:nth-child(1) p{
    width: 80%;
    margin: 10px auto;
}
.contact .feat:nth-child(1) ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 0 0 -30px;
}
.contact .feat:nth-child(1) a{
    margin: 0 10px;
    color: var(--orange);
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.contact .feat:nth-child(1) a:hover{
    color: var(--black);
}
.contact .feat:nth-child(1) span li{
    list-style: none;
    margin: 10px 0;
}
.contact .feat:nth-child(1) span li a{
    color: var(--black);
    margin: 10px 0;
    display: inline-block;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.contact .feat:nth-child(1) span li a:hover{
    color: var(--orange);
}
.contact .feat:nth-child(2){
    width: 80%;
    margin: 20px auto;
    padding: 90px 0;
    background-color: var(--light);
    box-shadow: 0 5px 25px rgb(1 1 1);
    text-align: center;
    border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.contact .feat:nth-child(2) form input{
    padding: 10px 10px;
    width: 60%;
    margin: 10px 0;
    outline: none;
    font-size: 0.8em;
}
.contact .feat:nth-child(2) form textarea{
    width: 60%;
    min-height:100px;
    padding: 6px 10px;
    outline: none;
    resize: none;
}
.contact .feat:nth-child(2) form button{
    padding: 10px 30px;
    margin: 10px 0;
    font-size: 1em;
    background-color: var(--orange);
    color: var(--white);
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.contact .feat:nth-child(2) form button:hover{
    background-color: var(--danger);
}
@media (min-width: 100px) and (max-width: 520px){
    .contact .feat:nth-child(1){
        display: none;
    }
    .contact .feat:nth-child(2){
        width: 60%;
        margin: 0px;
    }
}
@media (min-width: 530px) and (max-width: 1000px){
    .contact .feat:nth-child(1){
        width: 60%;
        margin: 40px;
    }
    .contact .feat:nth-child(2){
        width: 60%;
        margin: 40px ;
    }
}